.register-form {
    margin-top: 30px;
}

.register-field {
    font-size: 0.8rem;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
}

.register-button {
    cursor: 'pointer';
    color: #212529;
    border-color: #212529;
    background-color: transparent;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}